/* ===== Font ===== */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* ===== Common ===== */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    color: #131313;
}

section:not(#hero) {
    padding: 42px 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    margin: 32px 0 0;
    padding: 20px 25px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* ===== Header ===== */
header {
    background-color: #fff4e7;
    padding: 30px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-transform: capitalize;
    text-decoration: none;
}

.navbar-toggler {
    display: none;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-toggler:hover {
    color: #ff900e;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
}

.nav-item:not(:first-child) {
    margin-left: 70px;
}

.nav-link {
    color: #424242;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff900e;
}

/* ===== Hero ===== */
#hero {
    background-color: #fff4e7;
    padding-bottom: 45px;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-content {
    max-width: 868px;
    margin: auto;
}

.hero-content h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-transform: capitalize;
    margin: 0 0 35px;
}

.hero-content p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.hero-content .btn {
    color: #fff;
    background-color: #ff900e;
}

.hero-img {
    margin-top: 50px;
}

.hero-img img {
    width: 100%;
}

/* ===== Feature ===== */
.more-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-feature-img {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 24px;
    max-width: 684px;
}

.more-feature-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.more-feature-content {
    color: #727272;
    max-width: 468px;
    margin-left: 30px;
}

.more-feature-content h4 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    margin: 0 0 24px;
}

.more-feature-content span {
    color: #131313;
}

.more-feature-content strong {
    color: #ff900e;
}

.more-feature-content .btn {
    color: #fff;
    background-color: #ff900e;
}

.hl-feature {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 90px;
}

.hl-feature .toast {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-22%, -25%);
    color: #fff;
    text-align: center;
    background-color: #ff900e;
    padding: 25px;
    border-radius: 8px;
}

.hl-feature .toast h4 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin: 0;
}

.hl-feature .toast span {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

.hl-feature-content {
    width: 586px;
}

.hl-feature-content h4 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin: 0 0 24px;
    padding-left: 20px;
    border-left: 3px solid #ff900e;
}

.hl-feature-content p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.hl-feature-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hl-feature-content li {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}

.hl-feature-content li:not(:first-child) {
    margin-top: 20px;
}

.hl-feature-content h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
}

.hl-feature-content li p {
    margin-bottom: 0;
}

.hl-feature-img {
    max-width: 800px;
    margin-left: 70px;
}

.hl-feature-img img {
    width: 100%;
}

/* ===== Media Query ===== */
@media screen and (max-width: 991px) {
    /* ===== Header ===== */
    .navbar-toggler {
        display: inline-block;
    }

    .navbar-collapse {
        display: none;
    }

    /* ===== Feature ===== */
    .more-feature {
        flex-direction: column;
    }

    .more-feature-img {
        max-width: 100%;
    }

    .more-feature-content {
        display: grid;
        grid-template-areas: "t b" "d b";
        grid-column-gap: 15px;
        align-items: center;
        max-width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    .more-feature-content h4 {
        grid-area: t;
        font-size: 45px;
        line-height: 53px;
        margin: 0 0 14px;
    }

    .more-feature-content p {
        grid-area: d;
    }

    .more-feature-content .btn {
        grid-area: b;
        margin-top: 0;
    }

    .hl-feature .toast {
        transform: translate(12%, -65%);
    }

    .hl-feature .toast h4 {
        font-size: 35px;
        line-height: 43px;
    }

    .hl-feature .toast span {
        font-size: 15px;
        line-height: 30px;
    }

    .hl-feature-content {
        width: 100%;
    }

    .hl-feature-content h4 {
        font-size: 35px;
        line-height: 43px;
    }

    .hl-feature-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .hl-feature-content h6 {
        font-size: 15px;
        line-height: 18px;
    }

    .hl-feature-content li p {
        font-size: 12px;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    /* ===== Feature ===== */
    .hl-feature {
        flex-direction: column;
    }

    .hl-feature .toast {
        transform: translate(12%, -825%);
    }

    .hl-feature-content {
        order: 1;
    }

    .hl-feature-img {
        max-width: 480px;
        margin-left: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 575px) {
    /* ===== Common ===== */
    .btn {
        font-size: 16px;
        line-height: 19px;
        margin-top: 18px;
    }

    /* ===== Header ===== */
    .navbar-brand {
        font-size: 25px;
        line-height: 33px;
    }

    /* ===== Hero ===== */
    .hero-content {
        order: 1;
    }

    .hero-content h3 {
        font-size: 38px;
        line-height: 49px;
        margin-bottom: 20px;
    }

    .hero-content p {
        font-size: 12px;
        line-height: 22px;
    }

    .hero-img {
        margin: 25px 0;
    }

    /* ===== Feature ===== */
    .more-feature-content {
        display: block;
    }

    .more-feature-content h4, .hl-feature .toast h4, .hl-feature-content h4 {
        font-size: 28px;
        line-height: 36px;
    }

    .hl-feature .toast {
        transform: translate(-100%, -825%);
    }

    .hl-feature .toast span {
        font-size: 12px;
        line-height: 23px;
    }
}

@media screen and (max-width: 460px) {
    /* ===== Feature ===== */
    .hl-feature .toast {
        transform: translate(-120%, -1375%);
    }

    .hl-feature .toast h4 {
        font-size: 18px;
        line-height: 22px;
    }
}